<h1>All bookings</h1>

<h1>Namaste, <%= @current_user.email %>!</h1>
<h2> You have got <%= pluralize(@current_user.bookings.count, 'booking')  %> available.</h2>

<% @current_user.bookings.each do |booking| %>
<p><%= booking.lesson.title %></p>

<div class=“controls”>
  <%= link_to "View booking", booking%>
  <%= link_to "Edit booking", edit_booking_path(booking) %>
  <%= link_to "Delete booking", booking, :method => 'delete', :data => { :confirm => "Are you sure?"} %>

</div>
<% end %>
