<h1>All Users</h1>

<h2>You have <%= User.count %> users </h2>

<% @users.each do |user| %>
<%= image_tag user.image, :class => 'thumb' if user.image.present? %>
<ul>
  <li>Name: <%= link_to user.name, user %></li>
  <% if user.dob.present? %>
  <li>Date of birth: <%= user.dob.strftime '%A, %B %e, %Y' %></li>
  <% end %>
  <li>Location: <%= user.location %></li>
  <li>Email: <%= user.email %></li>

</ul>








<% end %>
