

<div class="div-color">

<h2>You have <%= User.count %> users </h2><br>

<% @users.each do |user| %>


<%= image_tag user.image, :class => 'thumb' if user.image.present? %>
<ul>
  <li>Name: <%= user.name %></li>
  <% if user.dob.present? %>
  <li>Date of birth: <%= user.dob.strftime '%A, %B %e, %Y' %></li>
  <% end %>
  <li>Location: <%= user.location %></li>
  <li>Email: <%= user.email %></li>
  <li><% if @current_user.admin? %>
    <%= link_to "Remove User", @user, :method => 'delete', :data => {:confirm => "Are you sure, you want to remove user permanently?"}, :class => "remove" %>
  <% end %>
</li>
</ul>
<% end %>
</div>
