<% if @current_user.present?%>
<h1>New Classes</h1>


<%= form_for @lesson do |f| %>
<%= f.label "Class" %>
<%= f.text_field :title %>
<%= f.label :date %>
<%= f.date_field :date %>
<%= f.label :time %>
<%= f.time_field :time %>
<%= f.label :suburb %>
<%= f.text_field :suburb %>
<%= f.label :postcode %>
<%= f.number_field :postcode%>

<%= f.submit "Create a new class" %>
<% end %>


<% end %>
